<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Success!</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            body {
                padding-top: 40px;
            }

            .form-container {
                width: 400px;
                margin: auto;
            }
        </style>
  </head>
  <body>

    <div class="form-container">

      <h2 class="text-center">You made it, {{firstName}}!</h2>
      <hr>

      <div class="alert alert-success text-center">Pip™ is now helping you with the following calendars.</div>

      <ul class="list-group">
      {{#each calendars}}
        <li class="list-group-item">{{this}}</li>
      {{/each}}
      </ul>
      <div class="text-center">
        <a href="https://www.allowpip.com/" class="btn btn-primary">Return Home</a>
      </div>

    </div> <!-- /container -->

  </body>
</html>